.log-item {
    --card-border-width: 1px !important;
    --card-border-color: transparent;
}
.log-item-icon {
    display: none;
}
.log-item:hover {
    --card-border-color: var(--border-color);
}
.log-item:hover .log-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}